* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}
  
h1 {
    color: navy;
    margin-left: 20px;
    text-align: center;
}

div {
    border: 1px solid #2e2530;
    background-color: #e4f3cc;
    height: 150px;
    margin-right: 1.66%;
    margin-left: 1.66%;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #140606;
}

div > p {
    border: 1px solid #2e2530;
    background-color: #269dec;
    height: 30%;
    width: 30%;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    color: #140606;
    position: relative;
    left: 70%;
    top: 0px;
    /*right: 0px;*/
}

.row {
    width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 30%;
    }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
    }
    .col-md-6 {
        width: 45%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/********** Small devices only **********/
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
}