* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}
  
h1 {
    color: navy;
    margin-left: 20px;
    text-align: center;
}

p {
    border: 1px solid #2e2530;
    background-color: #e4f3cc;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #140606;
}